body {
  width: 100%;
  background: lightgrey;
}

div {
  float: left;
  height: 200px;
  margin: 10px;
  padding: 20px;
  width: 15%;
  min-width: 10%;
  border-radius: 10%;
  text-align: center;
}

p {
  font-family: sans-serif;
  vertical-align: middle;
}

.red {
  background: red;
  opacity: 0.6;
}

.blue {
  background: blue;
  opacity: 0.6;
}

.green {
  background: green;
  opacity: 0.6;
}

.yellow {
  background: yellow;
  opacity: 0.6;
}

.bright {
  opacity: 1;
}
